/*Author: Bella Comparat
Date: 2/20/25
File Name: Portfolio Project: Milestone 4
*/

/*Css Reset Style*/
body,
header,
nav,
main,
footer,
img,
h1,
h3 {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(128, 187, 134);

}

/* Style rule for images*/
img {
    max-width: 100%;
    display: block;

}

/*Style Rules for Nav*/
nav,
nav ul,
nav li,
nav li a {
    background-color: rgb(155, 210, 158);
    padding-left: none;
    padding-right: none;
}

nav ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #ffffff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}

.round {
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(155, 210, 158);
    padding: 10px;
    width: auto;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*Style Rules for Main Content*/

main {
    padding: 1.5%;
    font-family: Cambria, Cochin, Georgia, Times, ;
    margin: auto;
}

main p {
    font-size: 0.7em;
}

header h1 {
    text-align: center;
    font-size: 3em;
}

header h4 {
    text-align: center;
}

main h3 {
    padding-top: 2%;
    font-size: 1.8em;
    text-align: center;
}

main h4 {
    font-size: 1.2em;
    text-align: center;
}

main ul {
    list-style: square;
}

.tel-link {
    color: #000000;
    text-decoration: none;
}

.tel-link {
    margin: 0 auto;
}

.tel-link a {
    text-decoration: none;
}



/* Style Rules for Footers*/
footer {
    display: block;
    background-color: rgb(155, 210, 158);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    text-align: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

/*Style rules for NWMSU link*/
#contact {
    display: inline-block;
    font-size: 1.7em;
    text-align: center;
}

#contact a {
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.tel-num {
    font-size: 0.7em;
}

/*Style rules for div id "contact"*/
.contact {
    text-align: center;
}

/*Style rules for mobile viewport*/

/*Style rules to show mobile class and hide tab-desk class*/

.mobile {
    display: block;
}

.tab-desk {
    display: none;
}

.mobile h1,
h3 {
    .red-hat-display-uniquifier {
        font-family: "Red Hat Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
}

/*Media  Query for Tablet Viewport*/
@media query and (min-width:620px) {
    /*Tablet viewport: show tab-desk class, hide mobile class*/

    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    /*Tablet viewport: style rules for nav area*/

    nav li {
        display: inline-block;
        margin-top: 0.5em;
    }
}

/*Media query for Desktop Viewport*/
@media query and (min-width:1000px),
print {

    /*Desktop Viewport: style rules for nav area*/
    nav li {
        font-size: 1.3em;
    }

    nav li a:hover {
        color: rgba(0, 0, 0, 0.22);
        background-color: rgb(155, 210, 158);
    }

    /*Desktop Viewport: style rules for main content*/
    main h4 {
        text-align: center;
    }

    .mobile {
        display: none;
    }

}