/*Author: Bella Comparat
Date: 2/20/25
File Name: Portfolio Project: Milestone 4
*/

/*Css Reset Style*/
body,
header,
nav,
main,
footer,
img,
h1,
h3 {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(128, 187, 134);

}

/* Style rule for images*/
img {
    max-width: 100%;
    display: block;

}

/*Style Rules for Nav*/
nav,
nav ul,
nav li,
nav li a {
    background-color: rgb(155, 210, 158);
    padding-left: none;
    padding-right: none;
}

nav ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #ffffff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}

/*Style Rules for Main Content*/

main {
    padding: 2.2%;
    font-family: Cambria, Cochin, Georgia, Times, ;
}

main p {
    font-size: 1.3em;
}

header h1 {
    text-align: center;
    font-size: 3em;
}

main h3 {
    padding-top: 2%;
    font-size: 1.8em;
    text-align: center;
}

main h4 {
    font-size: 1.2em;
    text-align: center;
}

main ul {
    list-style: square;
}

.link {
    color: #000000;
    text-decoration: none;
}

/* Style Rules for Footers*/
footer {
    display: block;
    background-color: rgb(155, 210, 158);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    text-align: center
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

/*Style rules for NWMSU link*/
#contact {
    display: inline-block;
    font-size: 1.7em;
    text-align: center;
}

#contact a {
    color: #000000;
    text-decoration: none;
    text-align: center;
}